@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}

/* Add text-stroke utility for map labels */
.text-stroke {
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
} 